<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Сервлет Controller</display-name>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.it.grechishnikov.project.webapp.ServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller/</url-pattern>
    </servlet-mapping>
</web-app>